/* here you can put your own css to customize and override the theme */
*
  font-family: "微軟正黑體", "Microsoft JhengHei", "Open Sans", sans-serif
.aspect-fill
  background-size: cover !important
  background-position: center center !important
=aspect-fill
  background-size: cover !important
  background-position: center center !important

.portlet>.portlet-title>.actions>.btn,
.portlet>.portlet-title>.actions>.btn-group>.btn,
.portlet>.portlet-title>.actions>.btn-group>.btn.btn-sm,
.portlet>.portlet-title>.actions>.btn.btn-sm
    margin-left: 8px
    padding: 5px 10px

.portlet>.portlet-title>.actions
  .form-inline
    display: inline-block
    margin-left: 8px

.col-inline
  .form-group
    display: inline-block

.page-header.navbar .page-logo
  padding: 0 10px
  .logo-default
    margin-top: 14px
    width: 163px

.status-light
  background-size: cover !important
  background-position: center center !important
  width: 30px
  height: 30px
  background: #CCC
  margin: 0 auto
  &.true
    background: url(../img/light-green.png)
  &.false
    background: url(../img/light-red.png)

.page-title
  small
    margin-left: 8px
.page-footer
  background: #CECECE
  .page-footer-inner
    color: #999

.page-header.navbar .page-logo .logo-default
  width: 180px
  margin-top: 13px
  margin-left: 3px
.update-time
  .form-group
    color: #666
  .col-md-6:last-child
    .form-group
      text-align: right
.help-block-still
  color: #666
.portlet.light .form .form-body, .portlet.light .portlet-form .form-body
  padding-bottom: 0
.form .form-actions, .portlet-form .form-actions
  padding-bottom: 10px
  .btn
    margin-left: 10px

.portlet.light>.portlet-title>.caption>.caption-subject
  &.content
    margin-left: 5px
    font-size: 15px
.form .form-section, .portlet-form .form-section
  margin: 20px 0 15px 0
.horizontal-form
  .form-control-static    
    display: block
    padding-top: 0
    font-size: 16px
    &.normal
      font-size: 14px
.qrcode-container
  .qrcode
    width: 150px
    height: 150px
    +aspect-fill
    background: #FFF
    border: 1px solid #AAA
    display: inline-block
    vertical-align: bottom
  .btn
    display: inline-block
    vertical-align: bottom
    margin-left: 10px
.file-preview-frame
  float: left
  width: 25%
#newGuest
  .welcome-img-container
    height: 136px
    .img-group
      .img-container
        width: 150px
        .img
          padding-bottom: 75%
.page-toolbar
  #dashboard-report-range
    .icon-calendar
      margin-right: 5px
.welcome-img-container
  border: 1px solid #AAA
  overflow-x: scroll
  overflow-y: hidden
  height: 212px
  padding: 10px
  background: #EFEFEF
  white-space: nowrap
  .img-group
    display: inline-block
    .img-container
      width: 300px
      display: inline-block
      margin-right: 10px
      vertical-align: top
      &:last-child
        margin-right: 0
      .img
        +aspect-fill
        width: 100%
        padding-bottom: 62.5%