/* Cubic Bezier Transition */
/*********** 
    Page Header
    ***********/
/* Header search bar, toggler button & top menu */
/* line 8, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
.page-header.navbar {
  background-color: #E1E1E1;
  /* Top notification menu/bar */
  /* Header seaech box */
  /* Toggler button for sidebar expand/collapse and responsive sidebar menu */ }
  /* line 13, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-header.navbar .top-menu .navbar-nav {
    /* Extended Dropdowns */
    /* Notification */
    /* Inbox */
    /* Tasks */
    /* User */
    /* Language */
    /* Dark version */ }
    /* line 16, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i {
      color: #AAAAAA; }
    /* line 20, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default {
      background-color: #729eef;
      color: #ffffff; }
    /* line 25, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover {
      background-color: #eeeeee; }
      /* line 28, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover > i {
        color: #d0d0d0; }
    /* line 35, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle {
      background-color: #eeeeee; }
      /* line 38, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle > i {
        color: #d0d0d0; }
    /* line 48, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu {
      border-color: #e7eaf0; }
      /* line 51, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu:after {
        border-bottom-color: #eaedf2; }
      /* line 55, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external {
        background: #eaedf2; }
        /* line 58, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > h3 {
          color: #62878f; }
        /* line 62, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a {
          color: #337ab7; }
          /* line 65, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
          .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a:hover {
            color: #23527c;
            text-decoration: none; }
      /* line 74, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
        border-bottom: 1px solid #EFF2F6 !important;
        color: #888888; }
        /* line 78, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a:hover {
          background: #f8f9fa; }
    /* line 93, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a .time {
      background: #f1f1f1; }
    /* line 98, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a:hover .time {
      background: #e4e4e4; }
    /* line 111, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle > .circle {
      background-color: #729eef;
      color: #ffffff; }
    /* line 116, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle > .corner {
      border-color: transparent transparent transparent #729eef; }
    /* line 124, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox .dropdown-menu .dropdown-menu-list .subject .from {
      color: #5b9bd1; }
    /* line 137, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-tasks .dropdown-menu .dropdown-menu-list .progress {
      background-color: #dfe2e9; }
    /* line 148, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
      color: #484848; }
    /* line 152, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > i {
      color: #484848; }
    /* line 157, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-menu {
      width: 195px; }
    /* line 166, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-language > .dropdown-toggle > .langname {
      color: #484848; }
    /* line 174, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu {
      background: #aeaeae;
      border: 0; }
      /* line 178, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu:after {
        border-bottom-color: #aeaeae; }
      /* line 182, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external {
        background: #888888; }
        /* line 185, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external > h3 {
          color: #eeeeee; }
        /* line 190, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external > a:hover {
          color: #5496cf; }
      /* line 199, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a,
      .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a {
        color: #fbfafa;
        border-bottom: 1px solid #b8b8b8 !important; }
        /* line 203, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a > i,
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a > i {
          color: #eeeeee; }
        /* line 207, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a:hover,
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a:hover {
          background: #b3b3b3; }
      /* line 216, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a {
        border-bottom: 0 !important; }
      /* line 220, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li.divider {
        background: #b8b8b8; }
    /* line 233, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification.dropdown-dark .dropdown-menu .dropdown-menu-list > li > a .time {
      background: #a6a6a6; }
    /* line 238, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification.dropdown-dark .dropdown-menu .dropdown-menu-list > li > a:hover .time {
      background: #9a9a9a; }
  /* line 251, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-header.navbar .search-form {
    background: #d9d9d9; }
    /* line 254, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .search-form:hover {
      background: #eeeeee; }
    /* line 259, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .search-form .input-group .form-control {
      color: #888888; }
      /* line 36, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/global/components/_mixins.scss */
      .page-header.navbar .search-form .input-group .form-control::-moz-placeholder {
        color: #858585;
        opacity: 1; }
      /* line 37, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/global/components/_mixins.scss */
      .page-header.navbar .search-form .input-group .form-control:-ms-input-placeholder {
        color: #858585; }
      /* line 38, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/global/components/_mixins.scss */
      .page-header.navbar .search-form .input-group .form-control::-webkit-input-placeholder {
        color: #858585; }
    /* line 267, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .search-form .input-group .input-group-btn .btn.submit > i {
      color: #888888; }
    /* line 274, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .search-form.open {
      background: #eeeeee; }
  /* line 280, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-header.navbar .menu-toggler {
    background-image: url(../../img/sidebar_toggler_icon_light2.png); }

/* Default Horizontal Menu */
/* line 287, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
.page-header.navbar {
  /* Default Mega Menu */
  /* Light Mega Menu */ }
  /* line 291, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-header.navbar .hor-menu .navbar-nav {
    /* Mega menu content */
    /* Classic menu */ }
    /* line 295, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu {
      box-shadow: 5px 5px rgba(136, 136, 136, 0.2); }
      /* line 303, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > h3 {
        color: #484848; }
    /* line 314, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .hor-menu .navbar-nav > li > a {
      color: #484848; }
      /* line 317, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .hor-menu .navbar-nav > li > a > i {
        color: #888888; }
    /* line 322, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .hor-menu .navbar-nav > li:hover > a,
    .page-header.navbar .hor-menu .navbar-nav > li.open > a,
    .page-header.navbar .hor-menu .navbar-nav > li > a:hover {
      color: #3b3b3b;
      background: #eeeeee !important; }
      /* line 328, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .hor-menu .navbar-nav > li:hover > a > i,
      .page-header.navbar .hor-menu .navbar-nav > li.open > a > i,
      .page-header.navbar .hor-menu .navbar-nav > li > a:hover > i {
        color: #959494; }
    /* line 335, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .hor-menu .navbar-nav > li.active > a,
    .page-header.navbar .hor-menu .navbar-nav > li.active > a, .page-header.navbar .hor-menu .navbar-nav > li.current > a,
    .page-header.navbar .hor-menu .navbar-nav > li.current > a {
      color: white;
      background: #729eef !important; }
      /* line 340, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .hor-menu .navbar-nav > li.active > a > i,
      .page-header.navbar .hor-menu .navbar-nav > li.active > a > i, .page-header.navbar .hor-menu .navbar-nav > li.current > a > i,
      .page-header.navbar .hor-menu .navbar-nav > li.current > a > i {
        color: #888888; }
    /* line 345, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .hor-menu .navbar-nav > li.active .selected, .page-header.navbar .hor-menu .navbar-nav > li.current .selected {
      border-top: 6px solid #729eef; }
    /* line 350, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu {
      box-shadow: 5px 5px rgba(136, 136, 136, 0.2);
      background: #eeeeee; }
      /* line 356, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a {
        color: #151515; }
        /* line 359, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
        .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a > i {
          color: #6c6c6c; }
      /* line 365, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li:hover > a {
        color: black;
        background: #e4e4e4; }
        /* line 369, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
        .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li:hover > a > i {
          color: #484848; }
      /* line 377, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.active > a,
      .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.active > a:hover, .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.current > a,
      .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.current > a:hover {
        color: black;
        background: #e4e4e4; }
        /* line 382, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
        .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.active > a > i,
        .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.active > a:hover > i, .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.current > a > i,
        .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.current > a:hover > i {
          color: #484848; }
      /* line 388, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li.divider {
        background-color: #fbfafa; }
    /* line 395, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .hor-menu .navbar-nav > li .dropdown-submenu > a:after {
      color: #6c6c6c; }
  /* line 405, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-header.navbar .hor-menu.hor-menu-light .navbar-nav {
    /* Mega menu content */
    /* Classic menu */ }
    /* line 409, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.mega-menu-dropdown > .dropdown-menu {
      box-shadow: 5px 5px rgba(102, 102, 102, 0.1); }
      /* line 417, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > h3 {
        color: #666; }
    /* line 428, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > a {
      color: #484848; }
      /* line 431, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > a > i {
        color: #888888; }
    /* line 436, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li:hover > a,
    .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > a:hover {
      color: #3b3b3b;
      background: #eeeeee; }
      /* line 441, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li:hover > a > i,
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > a:hover > i {
        color: #959494; }
    /* line 446, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.open > a {
      color: #333 !important;
      background: white !important; }
      /* line 450, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.open > a > i {
        color: #333 !important; }
    /* line 457, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a,
    .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a:hover, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a,
    .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a:hover {
      color: white;
      background: #729eef; }
      /* line 462, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a > i,
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a:hover > i, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a > i,
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a:hover > i {
        color: #888888; }
    /* line 468, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu {
      box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
      background: white; }
      /* line 474, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li > a {
        color: #000; }
        /* line 477, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
        .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li > a > i {
          color: #888; }
      /* line 483, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li:hover > a {
        color: #000;
        background: whitesmoke; }
        /* line 487, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
        .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li:hover > a > i {
          color: #666; }
      /* line 495, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.active > a,
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.active > a:hover, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.current > a,
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.current > a:hover {
        color: #000;
        background: whitesmoke; }
        /* line 500, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
        .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.active > a > i,
        .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.active > a:hover > i, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.current > a > i,
        .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.current > a:hover > i {
          color: #666; }
      /* line 506, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.divider {
        background-color: whitesmoke; }
    /* line 512, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu {
      border: 1px solid #f2f2f2; }
    /* line 516, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > .dropdown-menu {
      border-top: 0; }

/* Page sidebar */
/* line 526, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover,
.page-sidebar {
  background-color: #F6F6F6;
  /* Default sidebar */
  /* light sidebar */
  /* Sidebar search */ }
  /* line 531, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu,
  .page-sidebar .page-sidebar-menu {
    /* 1st level links */
    /* All links */ }
    /* line 536, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a,
    .page-sidebar .page-sidebar-menu > li > a {
      border-top: 1px solid #DEDEDE;
      color: #555555; }
      /* line 540, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i,
      .page-sidebar .page-sidebar-menu > li > a > i {
        color: #AAAAAA; }
      /* line 544, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class^="icon-"],
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class*="icon-"],
      .page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"],
      .page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"] {
        color: #848484; }
      /* line 556, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu > li > a > .arrow:before,
      .page-sidebar .page-sidebar-menu > li > a > .arrow.open:before {
        color: #AAAAAA; }
    /* line 564, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.heading > h3,
    .page-sidebar .page-sidebar-menu > li.heading > h3 {
      color: #1a1a1a; }
    /* line 571, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a,
    .page-sidebar .page-sidebar-menu > li:hover > a,
    .page-sidebar .page-sidebar-menu > li.open > a {
      background: #DDD;
      color: #555555; }
      /* line 575, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > i,
      .page-sidebar .page-sidebar-menu > li:hover > a > i,
      .page-sidebar .page-sidebar-menu > li.open > a > i {
        color: #AAAAAA; }
      /* line 580, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu > li:hover > a > .arrow:before,
      .page-sidebar .page-sidebar-menu > li:hover > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu > li.open > a > .arrow:before,
      .page-sidebar .page-sidebar-menu > li.open > a > .arrow.open:before {
        color: #AAAAAA; }
    /* line 590, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a,
    .page-sidebar .page-sidebar-menu > li.active > a,
    .page-sidebar .page-sidebar-menu > li.active.open > a {
      background: #729eef;
      border-top-color: transparent;
      color: #ffffff; }
      /* line 595, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover,
      .page-sidebar .page-sidebar-menu > li.active > a:hover,
      .page-sidebar .page-sidebar-menu > li.active.open > a:hover {
        background: #729eef; }
      /* line 599, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > i,
      .page-sidebar .page-sidebar-menu > li.active > a > i,
      .page-sidebar .page-sidebar-menu > li.active.open > a > i {
        color: #ffffff; }
      /* line 604, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu > li.active > a > .arrow:before,
      .page-sidebar .page-sidebar-menu > li.active > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu > li.active.open > a > .arrow:before,
      .page-sidebar .page-sidebar-menu > li.active.open > a > .arrow.open:before {
        color: #ffffff; }
    /* line 613, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active + li > a,
    .page-sidebar .page-sidebar-menu > li.active + li > a {
      border-top-color: transparent; }
    /* line 619, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open + li > a,
    .page-sidebar .page-sidebar-menu > li.active.open + li > a {
      border-top-color: #DEDEDE; }
    /* line 625, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:last-child > a,
    .page-sidebar .page-sidebar-menu > li:last-child > a {
      border-bottom: 1px solid transparent !important; }
    /* line 636, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu li > a > .arrow:before,
    .page-sidebar .page-sidebar-menu li > a > .arrow.open:before {
      color: #AAAAAA; }
    /* line 646, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu li:hover > a > .arrow:before,
    .page-sidebar .page-sidebar-menu li:hover > a > .arrow.open:before {
      color: #AAAAAA; }
    /* line 657, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu li.active > a > .arrow:before,
    .page-sidebar .page-sidebar-menu li.active > a > .arrow.open:before {
      color: #ffffff; }
    /* line 667, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu:hover .sub-menu, .page-sidebar-closed
    .page-sidebar .page-sidebar-menu:hover .sub-menu {
      background-color: #F6F6F6; }
    /* line 674, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a,
    .page-sidebar .page-sidebar-menu .sub-menu > li > a {
      color: #555555; }
      /* line 677, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i,
      .page-sidebar .page-sidebar-menu .sub-menu > li > a > i {
        color: #AAAAAA; }
      /* line 681, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"],
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"],
      .page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"],
      .page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"] {
        color: #848484; }
      /* line 693, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow:before,
      .page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow.open:before {
        color: #AAAAAA; }
    /* line 703, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a,
    .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a,
    .page-sidebar .page-sidebar-menu .sub-menu > li.open > a,
    .page-sidebar .page-sidebar-menu .sub-menu > li.active > a {
      background: #EFEFEF !important; }
      /* line 706, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > i,
      .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > i,
      .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > i,
      .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > i {
        color: #AAAAAA;
        color: #848484; }
      /* line 718, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before,
      .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow:before,
      .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow:before,
      .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before {
        color: #AAAAAA; }
  /* line 730, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light,
  .page-sidebar .page-sidebar-menu.page-sidebar-menu-light {
    /* 1st level links */ }
    /* line 736, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.open > a,
    .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li:hover > a,
    .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.open > a {
      background: #e9e9e9; }
    /* line 743, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a,
    .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a,
    .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a {
      background: #e4e4e4;
      border-left: 4px solid #729eef;
      color: #666666; }
      /* line 748, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a:hover,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a:hover,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a:hover {
        border-left: 4px solid #729eef;
        background: #e9e9e9; }
      /* line 753, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a > i,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a > i,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a > i {
        color: #999999; }
      /* line 758, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a > .arrow:before,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a > .arrow.open:before,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a > .arrow:before,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a > .arrow.open:before {
        color: #999999; }
    /* line 766, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu,
    .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu {
      background: #f9f9f9; }
      /* line 773, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.active > a,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li:hover > a,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.open > a,
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.active > a {
        background: #e9e9e9 !important; }
  /* line 782, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler,
  .page-sidebar .sidebar-toggler {
    background: url(../../img/sidebar_inline_toggler_icon_light2.jpg); }
  /* line 790, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group,
  .page-sidebar .sidebar-search .input-group {
    border-bottom: 1px solid #d4d4d4; }
    /* line 793, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control,
    .page-sidebar .sidebar-search .input-group .form-control {
      background-color: #F6F6F6;
      color: #999999; }
      /* line 36, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/global/components/_mixins.scss */
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control::-moz-placeholder,
      .page-sidebar .sidebar-search .input-group .form-control::-moz-placeholder {
        color: #9c9c9c;
        opacity: 1; }
      /* line 37, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/global/components/_mixins.scss */
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control:-ms-input-placeholder,
      .page-sidebar .sidebar-search .input-group .form-control:-ms-input-placeholder {
        color: #9c9c9c; }
      /* line 38, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/global/components/_mixins.scss */
      .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control::-webkit-input-placeholder,
      .page-sidebar .sidebar-search .input-group .form-control::-webkit-input-placeholder {
        color: #9c9c9c; }
    /* line 801, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .input-group-btn .btn > i,
    .page-sidebar .sidebar-search .input-group .input-group-btn .btn > i {
      color: #999999; }
  /* line 809, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-bordered .input-group,
  .page-sidebar .sidebar-search.sidebar-search-bordered .input-group {
    border: 1px solid #d4d4d4; }
  /* line 815, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.open .input-group, .page-sidebar-closed
  .page-sidebar .sidebar-search.open .input-group {
    background-color: #F6F6F6; }
  /* line 820, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.open .remove > i, .page-sidebar-closed
  .page-sidebar .sidebar-search.open .remove > i {
    color: #999999; }
  /* line 829, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-solid .input-group, .page-sidebar-closed
  .page-sidebar .sidebar-search.sidebar-search-solid .input-group {
    background: none; }
  /* line 834, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-solid .input-group,
  .page-sidebar .sidebar-search.sidebar-search-solid .input-group {
    border: 1px solid #dedede;
    background: #dedede; }
    /* line 838, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-solid .input-group .form-control,
    .page-sidebar .sidebar-search.sidebar-search-solid .input-group .form-control {
      background: #dedede; }
  /* line 843, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-solid.open .input-group,
  .page-sidebar .sidebar-search.sidebar-search-solid.open .input-group {
    border: 1px solid #F6F6F6;
    background: #F6F6F6; }
    /* line 847, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.sidebar-search-solid.open .input-group .form-control,
    .page-sidebar .sidebar-search.sidebar-search-solid.open .input-group .form-control {
      background: #F6F6F6; }

/* line 857, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
.page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light {
  /* 1st level links */ }
  /* line 862, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light > li.active > a, .page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a {
    border-left: 0;
    border-right: 4px solid #729eef; }
    /* line 866, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light > li.active > a:hover, .page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a:hover {
      border-left: 0;
      border-right: 4px solid #729eef; }

/******
    Page Footer 
    ******/
/* line 881, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
.page-footer .page-footer-inner {
  color: #333333; }

/* line 885, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
.page-footer-fixed .page-footer {
  background-color: white; }

@media (min-width: 992px) {
  /* 992px */
  /* Sidebar menu closed */
  /* line 895, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu {
    box-shadow: 5px 5px rgba(221, 221, 221, 0.2); }
    /* line 898, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu.sidebar-toggler-wrapper, .page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu.sidebar-search-wrapper {
      box-shadow: none; }
  /* line 907, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-sidebar-menu.page-sidebar-menu-closed > li:hover {
    box-shadow: 5px 5px rgba(221, 221, 221, 0.2); }
    /* line 910, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-menu.page-sidebar-menu-closed > li:hover.sidebar-toggler-wrapper, .page-sidebar-menu.page-sidebar-menu-closed > li:hover.sidebar-search-wrapper {
      box-shadow: none; }
    /* line 915, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu {
      box-shadow: 5px 5px rgba(221, 221, 221, 0.2); }
      /* line 918, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu.sidebar-toggler-wrapper, .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu.sidebar-search-wrapper {
        box-shadow: none; }
  /* Light sidebar menu */
  /* line 928, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-sidebar-menu.page-sidebar-menu-light.page-sidebar-menu-closed > li.heading {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid #DEDEDE !important; }
  /* Fixed Sidebar */
  /* line 940, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-sidebar-fixed:not(.page-footer-fixed) .page-content {
    border-bottom: 0; }
  /* line 944, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-sidebar-fixed:not(.page-footer-fixed) .page-footer {
    background-color: #fff; }
    /* line 947, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-fixed:not(.page-footer-fixed) .page-footer .page-footer-inner {
      color: #333; }
  /* Boxed Layout */
  /* line 955, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-boxed {
    background-color: #eeeeee !important;
    /* Page container */
    /* Page sidebar */
    /* Page footer */ }
    /* line 959, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-boxed .page-container {
      background-color: #F6F6F6;
      border-left: 1px solid #DEDEDE;
      border-bottom: 1px solid #DEDEDE; }
    /* line 966, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-boxed.page-sidebar-reversed .page-container {
      border-left: 0;
      border-right: 1px solid #DEDEDE; }
    /* line 973, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-boxed.page-sidebar-fixed .page-container {
      border-left: 0;
      border-bottom: 0; }
    /* line 980, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-boxed.page-sidebar-reversed.page-sidebar-fixed .page-container {
      border-left: 0;
      border-right: 0;
      border-bottom: 0; }
    /* line 990, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-boxed.page-sidebar-fixed .page-sidebar {
      border-left: 1px solid #DEDEDE; }
    /* line 996, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-boxed.page-sidebar-reversed.page-sidebar-fixed .page-sidebar {
      border-right: 1px solid #DEDEDE;
      border-left: 0; }
    /* line 1005, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-boxed.page-sidebar-fixed.page-footer-fixed .page-footer {
      background-color: #eeeeee !important; }
      /* line 1008, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-boxed.page-sidebar-fixed.page-footer-fixed .page-footer .page-footer-inner {
        color: #333333; }
  /* Sidebar Menu Wirh Hoverable Submenu */
  /* line 1021, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-sidebar-menu-hover-submenu li:hover a > .arrow {
    border-right: 8px solid #d5d5d5; }
    /* line 1024, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar-reversed .page-sidebar-menu-hover-submenu li:hover a > .arrow {
      border-left: 8px solid #d5d5d5; }
  /* line 1030, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-sidebar-menu-hover-submenu li:hover > .sub-menu {
    background: #d5d5d5 !important; } }

@media (max-width: 991px) {
  /* 991px */
  /* Page sidebar */
  /* line 1040, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-sidebar {
    background-color: #dedede;
    /* light sidebar */ }
    /* line 1045, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar .page-sidebar-menu > li > a {
      border-top: 1px solid #F6F6F6; }
    /* line 1051, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar .page-sidebar-menu > li.open > a {
      background: #d0d0d0; }
    /* line 1057, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar .page-sidebar-menu > li:last-child > a {
      border-bottom: 0 !important; }
    /* line 1062, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar .page-sidebar-menu > li .sub-menu {
      background-color: #dedede !important; }
    /* line 1068, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar .page-sidebar-menu .sidebar-search input {
      background-color: #dedede !important; }
    /* line 1075, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-sidebar .page-sidebar-menu.page-sidebar-menu-light {
      /* 1st level links */ }
      /* line 1081, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li:hover > a, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.open > a {
        background: #d2d2d2; }
      /* line 1088, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a {
        background: #cacaca; }
        /* line 1091, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
        .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a:hover, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a:hover {
          background: #cacaca; }
      /* line 1097, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu {
        background: #dedede !important; }
        /* line 1104, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
        .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li:hover > a, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.open > a, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.active > a {
          background: #d2d2d2 !important; } }

@media (max-width: 480px) {
  /* 480px */
  /* line 1117, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
  .page-header.navbar {
    /* Top menu */ }
    /* line 1119, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
    .page-header.navbar .top-menu {
      background-color: #F6F6F6; }
      /* line 1122, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header-fixed-mobile .page-header.navbar .top-menu {
        background-color: #E1E1E1; }
      /* line 1128, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
      .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
        background-color: #f0f0f0; }
        /* line 1131, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
        .page-header-fixed-mobile .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
          background: none; }
        /* line 1135, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
        .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle:hover {
          background-color: #eeeeee; } }

/****
    Boby
    ****/
/* line 1149, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
body {
  background-color: #F6F6F6; }

/****
 CSS3 Spinner Bar
****/
/* line 1157, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/_base.scss */
.page-spinner-bar > div,
.block-spinner-bar > div {
  background: #89aef2; }

/* Page sidebar */
/* line 207, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/pepper_color.scss */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu,
.page-sidebar .page-sidebar-menu {
  /* Sidebar search */ }
  /* line 210, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/pepper_color.scss */
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a,
  .page-sidebar .page-sidebar-menu li > a {
    font-weight: normal; }
  /* line 216, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/pepper_color.scss */
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li .sub-menu li > a,
  .page-sidebar .page-sidebar-menu li .sub-menu li > a {
    font-weight: normal; }

@media (max-width: 991px) {
  /* 991px */
  /* line 231, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/pepper_color.scss */
  .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a,
  .page-sidebar .page-sidebar-menu > li > a {
    border-top: 1px solid #DEDEDE; } }

@media (max-width: 480px) {
  /* 480px */
  /* line 240, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/themes/pepper_color.scss */
  body {
    background: #F6F6F6; } }

/*# sourceMappingURL=pepper_color.css.map */