/* Cubic Bezier Transition */
/***
Login page
***/
/* bg color */
/* line 13, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.alert-danger {
  background-color: #CEDB00;
  color: #141619;
  box-shadow: none;
  text-align: center; }

/* line 20, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login {
  background-color: #ECECEC !important; }

/* line 24, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .logo {
  margin: 0 auto;
  margin-top: 60px;
  padding: 15px;
  text-align: center; }

/* line 31, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .logo img {
  width: 220px; }

/* line 35, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .content {
  background-color: #FFF;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  width: 400px;
  margin: 20px auto 10px auto;
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 0;
  overflow: hidden;
  position: relative;
  border: 1px solid #d6d6d6; }

/* line 48, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .content h3 {
  color: #4db3a5;
  text-align: center;
  font-size: 28px;
  font-weight: 400 !important; }

/* line 55, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .content h4 {
  color: #555; }

/* line 59, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .content .hint {
  color: #999;
  padding: 0;
  margin: 15px 0 7px 0; }

/* line 65, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .content .login-form,
.login .content .forget-form {
  padding: 0px;
  margin: 0px; }

/* line 71, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .content .form-control {
  border: none;
  background-color: #E6E6E6;
  height: 43px;
  color: #2f353b;
  border: 1px solid #E6E6E6;
  text-align: center; }
  /* line 79, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
  .login .content .form-control:focus, .login .content .form-control:active {
    border: 1px solid #777; }
  /* line 36, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/global/components/_mixins.scss */
  .login .content .form-control::-moz-placeholder {
    color: #AAA;
    opacity: 1; }
  /* line 37, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/global/components/_mixins.scss */
  .login .content .form-control:-ms-input-placeholder {
    color: #AAA; }
  /* line 38, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/global/components/_mixins.scss */
  .login .content .form-control::-webkit-input-placeholder {
    color: #AAA; }

/* line 87, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .content select.form-control {
  padding-left: 9px;
  padding-right: 9px; }

/* line 92, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .content .forget-form {
  display: none; }

/* line 96, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .content .register-form {
  display: none; }

/* line 100, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .content .form-title {
  font-weight: 300 !important;
  margin-bottom: 25px;
  color: #777 !important; }

/* line 106, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .content .form-actions {
  clear: both;
  border: 0px;
  border-top: 1px solid #eee;
  padding: 25px 30px 30px 30px;
  margin-left: -30px;
  margin-right: -30px;
  margin-top: 25px; }

/* line 116, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login-options {
  margin-bottom: 30px;
  overflow: hidden; }

/* line 121, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login-options h4 {
  float: left;
  font-weight: 600;
  font-size: 15px;
  color: #7d91aa !important; }

/* line 128, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login-options .social-icons {
  float: right;
  padding-top: 3px; }

/* line 133, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login-options .social-icons li a {
  border-radius: 15px 15px 15px 15px !important;
  -moz-border-radius: 15px 15px 15px 15px !important;
  -webkit-border-radius: 15px 15px 15px 15px !important; }

/* line 139, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .content .form-actions .checkbox {
  margin-left: 0;
  padding-left: 0; }

/* line 144, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px; }

/* line 150, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .content .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px; }

/* line 156, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .content .form-actions .btn {
  margin-top: 1px; }

/* line 160, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .content .form-actions .btn {
  font-weight: 600;
  padding: 10px 20px !important; }

/* line 165, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .content .form-actions .btn-default {
  font-weight: 600;
  padding: 10px 25px !important;
  color: #6c7a8d;
  background-color: #ffffff;
  border: none; }

/* line 173, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .content .form-actions .btn-default:hover {
  background-color: #fafaff;
  color: #45b6af; }

/* line 178, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .content .forget-password {
  font-size: 14px;
  float: right;
  display: inline-block;
  margin-top: 10px; }

/* line 185, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .content .check {
  color: #8290a3; }

/* line 189, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .content .rememberme {
  margin-left: 8px;
  margin-top: 10px; }

/* line 194, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .content .create-account {
  margin: 0 -40px -30px -40px;
  padding: 15px 0 17px 0;
  text-align: center;
  background-color: #6c7a8d;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px; }
  /* line 201, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
  .login .content .create-account > p {
    margin: 0; }

/* line 206, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .content .create-account p a {
  font-weight: 600;
  font-size: 14px;
  color: #c3cedd; }

/* line 212, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .content .create-account a {
  display: inline-block;
  margin-top: 5px; }

/* footer copyright */
/* line 218, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
.login .copyright {
  text-align: center;
  margin: 0 auto 30px 0;
  padding: 10px;
  color: #a09f9f;
  font-size: 13px; }

@media (max-width: 440px) {
  /***
  Login page
  ***/
  /* line 230, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
  .login .logo {
    margin-top: 10px; }
  /* line 234, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
  .login .content {
    width: 280px;
    margin-top: 10px; }
  /* line 239, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
  .login .content h3 {
    font-size: 22px; }
  /* line 243, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
  .forget-password {
    display: inline-block;
    margin-top: 20px; }
  /* line 248, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
  .login-options .social-icons {
    float: left;
    padding-top: 3px; }
  /* line 253, Users/luke/Documents/__Coding/codeKit/lora-iot/sass/pages/login-lora.scss */
  .login .checkbox {
    font-size: 13px; } }

/*# sourceMappingURL=login-lora.css.map */