@charset "UTF-8";
/* here you can put your own css to customize and override the theme */
/* line 2, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
* {
  font-family: "微軟正黑體", "Microsoft JhengHei", "Open Sans", sans-serif; }

/* line 4, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
.aspect-fill {
  background-size: cover !important;
  background-position: center center !important; }

/* line 11, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
.portlet > .portlet-title > .actions > .btn,
.portlet > .portlet-title > .actions > .btn-group > .btn,
.portlet > .portlet-title > .actions > .btn-group > .btn.btn-sm,
.portlet > .portlet-title > .actions > .btn.btn-sm {
  margin-left: 8px;
  padding: 5px 10px; }

/* line 19, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
.portlet > .portlet-title > .actions .form-inline {
  display: inline-block;
  margin-left: 8px; }

/* line 24, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
.col-inline .form-group {
  display: inline-block; }

/* line 27, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
.page-header.navbar .page-logo {
  padding: 0 10px; }
  /* line 29, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
  .page-header.navbar .page-logo .logo-default {
    margin-top: 14px;
    width: 163px; }

/* line 33, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
.status-light {
  background-size: cover !important;
  background-position: center center !important;
  width: 30px;
  height: 30px;
  background: #CCC;
  margin: 0 auto; }
  /* line 40, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
  .status-light.true {
    background: url(../img/light-green.png); }
  /* line 42, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
  .status-light.false {
    background: url(../img/light-red.png); }

/* line 46, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
.page-title small {
  margin-left: 8px; }

/* line 48, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
.page-footer {
  background: #CECECE; }
  /* line 50, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
  .page-footer .page-footer-inner {
    color: #999; }

/* line 53, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
.page-header.navbar .page-logo .logo-default {
  width: 180px;
  margin-top: 13px;
  margin-left: 3px; }

/* line 58, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
.update-time .form-group {
  color: #666; }

/* line 61, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
.update-time .col-md-6:last-child .form-group {
  text-align: right; }

/* line 63, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
.help-block-still {
  color: #666; }

/* line 65, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
.portlet.light .form .form-body, .portlet.light .portlet-form .form-body {
  padding-bottom: 0; }

/* line 67, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
.form .form-actions, .portlet-form .form-actions {
  padding-bottom: 10px; }
  /* line 69, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
  .form .form-actions .btn, .portlet-form .form-actions .btn {
    margin-left: 10px; }

/* line 73, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
.portlet.light > .portlet-title > .caption > .caption-subject.content {
  margin-left: 5px;
  font-size: 15px; }

/* line 76, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
.form .form-section, .portlet-form .form-section {
  margin: 20px 0 15px 0; }

/* line 79, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
.horizontal-form .form-control-static {
  display: block;
  padding-top: 0;
  font-size: 16px; }
  /* line 83, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
  .horizontal-form .form-control-static.normal {
    font-size: 14px; }

/* line 86, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
.qrcode-container .qrcode {
  width: 150px;
  height: 150px;
  background-size: cover !important;
  background-position: center center !important;
  background: #FFF;
  border: 1px solid #AAA;
  display: inline-block;
  vertical-align: bottom; }

/* line 94, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
.qrcode-container .btn {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 10px; }

/* line 98, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
.file-preview-frame {
  float: left;
  width: 25%; }

/* line 102, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
#newGuest .welcome-img-container {
  height: 136px; }
  /* line 105, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
  #newGuest .welcome-img-container .img-group .img-container {
    width: 150px; }
    /* line 107, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
    #newGuest .welcome-img-container .img-group .img-container .img {
      padding-bottom: 75%; }

/* line 111, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
.page-toolbar #dashboard-report-range .icon-calendar {
  margin-right: 5px; }

/* line 113, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
.welcome-img-container {
  border: 1px solid #AAA;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 212px;
  padding: 10px;
  background: #EFEFEF;
  white-space: nowrap; }
  /* line 121, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
  .welcome-img-container .img-group {
    display: inline-block; }
    /* line 123, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
    .welcome-img-container .img-group .img-container {
      width: 300px;
      display: inline-block;
      margin-right: 10px;
      vertical-align: top; }
      /* line 128, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
      .welcome-img-container .img-group .img-container:last-child {
        margin-right: 0; }
      /* line 130, Users/luke/Documents/__Coding/codeKit/pepper_backstage_codebox/sass/layouts/layout/custom.sass */
      .welcome-img-container .img-group .img-container .img {
        background-size: cover !important;
        background-position: center center !important;
        width: 100%;
        padding-bottom: 62.5%; }

/*# sourceMappingURL=custom.css.map */